.icon-menu {
  font-size: 3em;
  float: right;
}

#main-title {
  color: #85754d;
  font-size: 50px;
}

.link-button {
  font-size: 1em;
  text-align: center;
  background-color: #85754d;
  width: 20%;
  margin: 0 auto;
  color: black;
}

#404 {
  margin: 0 auto;
  align: middle; 
}
