.nav{
  width: 100%;
  height: 30%;
  margin: 0 auto;
}

body{
  background-color:  #4b2e83;
}
}
.intro {
  width: 100%;
  height: 30%;
  margin: 0 auto;
}

.about {
  width: 100%;
  height: 30%;
  margin: 0 auto;
}

.projects {
  width: 100%;
  height: 30%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: white;
  font-family: Helvetica;
  padding-top: 5%;
  margin: 0 auto;
}

footer{
  width: 100%;
  height: 30%;
  border: 3px solid black;
}

li{
  color: black;
  display: inline-block;
  font-size: 30px;
  font-family: Helvetica;
}

a {
  color: white;
  text-decoration: none;
}

img {
  width: 80%;
}

section{
  margin: 0 auto;
  text-align: center;
}

p {
  width: 80%;
  margin: 0 auto;
  font-size: 25px;
  font-family: Helvetica;
  color: #d9d9d9;
}
