.icon-menu {
  color: #B7A57A;
}

.main-menu ul{
  display: none;
  list-style: none;
  clear: both;
}

.main-menu:hover ul {
  display: block;
  text-align: center;
}

.main-menu ul li {
  width: 100%;
  padding-top: 0.6em;
  font-size: 3em;
}

@media only screen and (min-width: 745px) {
  .icon-menu {
    display: none;
  }

  .main-menu ul {
    display: block;
    text-align: center;
    color: #b7a57a;
  }

  .main-menu ul li {
    display: inline;
    font-size: 1.5em;
  }

  .link-button {
    font-size: 2em;
    text-align: center;
    background-color: #85754d;
    width: 20%;
    margin: 0 auto;
    color: black;
  }

  p {
    font-size: 1.5em;
  }
}
