@media only screen and (min-width: 740px) {
  .icon-menu{
    display: none;
  }
  nav {
    margin: 0 auto;
    text-align: center;
    color: #b7a57a;

  }
}

.icon-menu {
  color: #B7A57A;
}

.main-menu ul{
  display: none;
  list-style: none;
  clear: both;
}

.main-menu:hover ul {
  margin-right: 3em;
  text-align: right;
  display: block;
}

.main-menu ul li {
  width: 100%;
}
